In [1]:
import pandas as pd

In [7]:
data=pd.read_csv('bhavs\m.csv')

In [8]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [9]:
data.shape

(8523, 12)

In [11]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [12]:
data.head(7)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528

In [13]:
import random
rl=[random.randint(1,823)for i in range(8523)]

In [14]:
rl

[447,
 575,
 303,
 548,
 399,
 753,
 233,
 162,
 582,
 379,
 229,
 222,
 616,
 481,
 464,
 609,
 86,
 14,
 357,
 539,
 441,
 686,
 745,
 694,
 396,
 345,
 670,
 658,
 678,
 504,
 560,
 678,
 50,
 168,
 807,
 264,
 333,
 103,
 460,
 521,
 260,
 267,
 675,
 235,
 45,
 544,
 207,
 353,
 115,
 657,
 574,
 394,
 85,
 269,
 775,
 392,
 523,
 520,
 451,
 398,
 148,
 335,
 2,
 489,
 392,
 74,
 136,
 672,
 329,
 306,
 713,
 251,
 318,
 477,
 73,
 673,
 320,
 245,
 117,
 290,
 163,
 224,
 228,
 180,
 423,
 792,
 792,
 740,
 312,
 33,
 8,
 727,
 176,
 266,
 669,
 434,
 359,
 548,
 191,
 431,
 418,
 747,
 633,
 424,
 531,
 266,
 438,
 281,
 136,
 507,
 48,
 231,
 217,
 649,
 591,
 100,
 340,
 152,
 292,
 283,
 116,
 290,
 75,
 151,
 430,
 20,
 530,
 82,
 696,
 640,
 565,
 541,
 565,
 52,
 194,
 355,
 476,
 545,
 645,
 326,
 147,
 337,
 481,
 540,
 297,
 337,
 171,
 7,
 295,
 751,
 506,
 170,
 321,
 401,
 460,
 517,
 333,
 790,
 154,
 73,
 76,
 194,
 77,
 63,
 454,
 387,
 385,
 672,
 89,
 589,
 44,
 309,
 488,
 42,
 802,
 274,
 353,
 304,
 812,
 536,
 466,
 261,
 221,
 8,
 749,
 22,
 165,
 659,
 765,
 348,
 278,
 189,
 73,
 609,
 96,
 76,
 403,
 464,
 99,
 35,
 409,
 167,
 513,
 196,
 312,
 593,
 751,
 661,
 317,
 804,
 339,
 429,
 107,
 233,
 167,
 725,
 44,
 764,
 112,
 754,
 435,
 317,
 371,
 194,
 620,
 609,
 101,
 218,
 615,
 42,
 194,
 44,
 617,
 26,
 638,
 375,
 274,
 301,
 638,
 115,
 98,
 417,
 350,
 718,
 82,
 268,
 580,
 1,
 151,
 255,
 474,
 812,
 737,
 392,
 159,
 231,
 730,
 159,
 392,
 705,
 462,
 553,
 34,
 793,
 135,
 437,
 367,
 707,
 437,
 780,
 581,
 140,
 629,
 150,
 86,
 398,
 316,
 520,
 55,
 154,
 80,
 578,
 231,
 769,
 798,
 337,
 769,
 62,
 751,
 789,
 616,
 575,
 402,
 739,
 359,
 5,
 561,
 240,
 144,
 199,
 780,
 474,
 404,
 255,
 194,
 154,
 587,
 645,
 48,
 415,
 645,
 778,
 759,
 405,
 386,
 781,
 784,
 296,
 107,
 216,
 539,
 288,
 425,
 398,
 512,
 268,
 341,
 164,
 165,
 4,
 808,
 600,
 557,
 676,
 24,
 112,
 50,
 148,
 125,
 2,
 405,
 490,
 494,
 320,
 629,
 74,
 377,
 688,
 730,
 585,
 175,
 794,
 279,
 78,
 318,
 721,
 563,
 791,
 600,
 308,
 694,
 237,
 648,
 170,
 142,
 721,
 443,
 749,
 181,
 568,
 566,
 126,
 390,
 180,
 582,
 244,
 644,
 90,
 707,
 644,
 734,
 75,
 627,
 356,
 309,
 30,
 636,
 216,
 313,
 79,
 185,
 313,
 784,
 810,
 137,
 586,
 185,
 513,
 304,
 596,
 431,
 69,
 152,
 292,
 759,
 570,
 525,
 256,
 102,
 239,
 467,
 774,
 254,
 548,
 242,
 532,
 320,
 240,
 311,
 602,
 135,
 629,
 529,
 110,
 783,
 29,
 345,
 649,
 637,
 530,
 712,
 401,
 49,
 486,
 383,
 615,
 228,
 607,
 287,
 3,
 742,
 713,
 428,
 795,
 554,
 673,
 695,
 566,
 574,
 176,
 657,
 424,
 751,
 16,
 202,
 493,
 252,
 436,
 667,
 376,
 818,
 683,
 693,
 327,
 677,
 195,
 472,
 703,
 196,
 183,
 699,
 519,
 720,
 797,
 378,
 542,
 34,
 747,
 171,
 264,
 341,
 785,
 27,
 780,
 694,
 603,
 224,
 247,
 45,
 149,
 613,
 680,
 113,
 687,
 530,
 128,
 305,
 121,
 591,
 239,
 783,
 46,
 822,
 231,
 496,
 268,
 291,
 296,
 421,
 718,
 193,
 356,
 254,
 176,
 348,
 763,
 15,
 686,
 642,
 572,
 601,
 456,
 417,
 128,
 457,
 411,
 531,
 65,
 617,
 138,
 516,
 237,
 804,
 147,
 728,
 478,
 55,
 340,
 800,
 661,
 586,
 70,
 164,
 72,
 38,
 735,
 291,
 526,
 714,
 233,
 296,
 66,
 436,
 89,
 766,
 131,
 491,
 316,
 126,
 502,
 176,
 717,
 593,
 731,
 524,
 651,
 427,
 254,
 728,
 588,
 696,
 95,
 710,
 537,
 247,
 480,
 477,
 190,
 447,
 649,
 227,
 428,
 259,
 513,
 36,
 243,
 214,
 507,
 109,
 701,
 738,
 533,
 544,
 248,
 279,
 61,
 494,
 390,
 134,
 396,
 241,
 491,
 423,
 665,
 50,
 68,
 11,
 579,
 160,
 609,
 349,
 407,
 532,
 471,
 358,
 636,
 98,
 232,
 614,
 322,
 314,
 121,
 608,
 629,
 408,
 765,
 519,
 261,
 179,
 99,
 147,
 360,
 668,
 622,
 220,
 652,
 511,
 276,
 403,
 54,
 627,
 39,
 434,
 219,
 693,
 777,
 38,
 141,
 154,
 431,
 309,
 290,
 209,
 18,
 664,
 595,
 570,
 292,
 138,
 373,
 629,
 484,
 823,
 344,
 147,
 751,
 628,
 165,
 700,
 492,
 468,
 462,
 235,
 365,
 675,
 504,
 341,
 513,
 348,
 527,
 85,
 501,
 233,
 640,
 563,
 646,
 236,
 763,
 747,
 231,
 438,
 413,
 367,
 392,
 21,
 673,
 417,
 565,
 776,
 492,
 489,
 298,
 597,
 574,
 387,
 747,
 146,
 584,
 512,
 14,
 361,
 226,
 112,
 340,
 375,
 654,
 717,
 751,
 231,
 7,
 194,
 218,
 151,
 642,
 700,
 414,
 238,
 137,
 560,
 635,
 127,
 679,
 200,
 282,
 531,
 276,
 393,
 54,
 2,
 194,
 7,
 396,
 241,
 1,
 640,
 706,
 606,
 434,
 449,
 259,
 224,
 778,
 696,
 746,
 653,
 416,
 819,
 786,
 196,
 119,
 240,
 781,
 493,
 728,
 393,
 675,
 378,
 565,
 572,
 729,
 188,
 125,
 257,
 259,
 337,
 588,
 707,
 203,
 439,
 520,
 54,
 563,
 712,
 666,
 804,
 332,
 343,
 600,
 52,
 15,
 326,
 385,
 98,
 269,
 348,
 64,
 479,
 362,
 493,
 778,
 115,
 146,
 519,
 698,
 546,
 26,
 591,
 140,
 390,
 104,
 1,
 248,
 43,
 775,
 484,
 593,
 77,
 713,
 655,
 552,
 89,
 806,
 749,
 85,
 154,
 734,
 801,
 244,
 93,
 266,
 285,
 566,
 721,
 471,
 437,
 285,
 101,
 776,
 697,
 176,
 820,
 172,
 294,
 121,
 715,
 663,
 786,
 666,
 630,
 424,
 427,
 625,
 391,
 329,
 304,
 127,
 658,
 690,
 706,
 714,
 762,
 474,
 674,
 16,
 657,
 665,
 658,
 353,
 139,
 759,
 50,
 635,
 259,
 611,
 724,
 317,
 391,
 662,
 20,
 334,
 439,
 64,
 232,
 110,
 793,
 622,
 44,
 476,
 611,
 438,
 418,
 718,
 485,
 632,
 808,
 12,
 544,
 170,
 318,
 139,
 476,
 598,
 70,
 269,
 62,
 119,
 736,
 482,
 56,
 153,
 219,
 349,
 208,
 679,
 512,
 521,
 429,
 128,
 568,
 471,
 493,
 262,
 283,
 713,
 120,
 786,
 607,
 562,
 64,
 608,
 399,
 464,
 391,
 58,
 648,
 616,
 290,
 785,
 20,
 592,
 525,
 273,
 263,
 630,
 265,
 128,
 373,
 345,
 36,
 164,
 487,
 98,
 819,
 123,
 574,
 768,
 724,
 699,
 483,
 170,
 33,
 336,
 671,
 292,
 671,
 688,
 352,
 442,
 449,
 386,
 722,
 225,
 569,
 769,
 362,
 394,
 258,
 174,
 409,
 364,
 803,
 84,
 137,
 132,
 662,
 357,
 84,
 157,
 391,
 562,
 300,
 582,
 136,
 681,
 697,
 283,
 240,
 386,
 178,
 632,
 ...]

In [15]:
data.index=rl

In [16]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
447,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
575,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
303,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
548,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
399,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [18]:
data.set_index('Outlet_Establishment_Year',drop=True,inplace=True)

In [30]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [31]:
data.index()

TypeError: 'RangeIndex' object is not callable

In [22]:
data.set_index('Item_Identifier',drop=True,inplace=True)

In [23]:
data.head()

<bound method NDFrame.head of                  Item_Weight Item_Fat_Content  Item_Visibility  \
Item_Identifier
FDA15                  9.300          Low Fat         0.016047
DRC01                  5.920          Regular         0.019278
FDN15                 17.500          Low Fat         0.016760
FDX07                 19.200          Regular         0.000000
NCD19                  8.930          Low Fat         0.000000
...                      ...              ...              ...
FDF22                  6.865          Low Fat         0.056783
FDS36                  8.380          Regular         0.046982
NCJ29                 10.600          Low Fat         0.035186
FDN46                  7.210          Regular         0.145221
DRG01                 14.800          Low Fat         0.044878

                             Item_Type  Item_MRP Outlet_Identifier  \
Item_Identifier
FDA15                            Dairy  249.8092            OUT049
DRC01                      Soft Drinks   48.2692            OUT018
FDN15                             Meat  141.6180            OUT049
FDX07            Fruits and Vegetables  182.0950            OUT010
NCD19                        Household   53.8614            OUT013
...                                ...       ...               ...
FDF22                      Snack Foods  214.5218            OUT013
FDS36                     Baking Goods  108.1570            OUT045
NCJ29               Health and Hygiene   85.1224            OUT035
FDN46                      Snack Foods  103.1332            OUT018
DRG01                      Soft Drinks   75.4670            OUT046

                Outlet_Size Outlet_Location_Type        Outlet_Type  \
Item_Identifier
FDA15                Medium               Tier 1  Supermarket Type1
DRC01                Medium               Tier 3  Supermarket Type2
FDN15                Medium               Tier 1  Supermarket Type1
FDX07                   NaN               Tier 3      Grocery Store
NCD19                  High               Tier 3  Supermarket Type1
...                     ...                  ...                ...
FDF22                  High               Tier 3  Supermarket Type1
FDS36                   NaN               Tier 2  Supermarket Type1
NCJ29                 Small               Tier 2  Supermarket Type1
FDN46                Medium               Tier 3  Supermarket Type2
DRG01                 Small               Tier 1  Supermarket Type1

                 Item_Outlet_Sales
Item_Identifier
FDA15                    3735.1380
DRC01                     443.4228
FDN15                    2097.2700
FDX07                     732.3800
NCD19                     994.7052
...                            ...
FDF22                    2778.3834
FDS36                     549.2850
NCJ29                    1193.1136
FDN46                    1845.5976
DRG01                     765.6700

[8523 rows x 10 columns]>

In [29]:
data.index()

TypeError: 'RangeIndex' object is not callable

In [25]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

In [26]:
data.reset_index(inplace=True)

In [28]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [32]:
data[data['Item_Type']=='Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

In [33]:
data.shape

(8523, 11)

In [34]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [35]:
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

In [36]:
data[10:15]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260

In [38]:
data[-10:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8513,FDH31,12.000,Regular,0.020407,Meat,99.9042,OUT035,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,NaN,Tier 2,Supermarket Type1,468.7232
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,Medium,Tier 3,Supermarket Type2,858.8820
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

In [39]:
data.iloc[[1,5,2,4,6,14]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Medium,Tier 3,Supermarket Type2,556.6088
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260

In [40]:
data.iloc[[1,5,2,4,6,14],[1,2,3]]

    Item_Weight Item_Fat_Content  Item_Visibility
1         5.920          Regular         0.019278
5        10.395          Regular         0.000000
2        17.500          Low Fat         0.016760
4         8.930          Low Fat         0.000000
6        13.650          Regular         0.012741
14       16.350          Low Fat         0.068024

In [41]:
data.iloc[10:15:2]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,Medium,Tier 1,Supermarket Type1,1516.0266
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,Medium,Tier 1,Supermarket Type1,1589.2646
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260

In [42]:
data.set_index('Item_Identifier',drop=True,inplace=True)

In [43]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [44]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

In [45]:
data.loc[['FDA15','FDA03'],{'Item_Fat_Content','Item_Type'}]

C:\Users\CH.BHAVANA\AppData\Local\Temp\ipykernel_18768\1981445589.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data.loc[['FDA15','FDA03'],{'Item_Fat_Content','Item_Type'}]

                Item_Fat_Content Item_Type
Item_Identifier
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                    Low Fat     Dairy
FDA15                         LF     Dairy
FDA03                    Regular     Dairy
FDA03                    Regular     Dairy
FDA03                    Regular     Dairy
FDA03                    Regular     Dairy
FDA03                    Regular     Dairy
FDA03                    Regular     Dairy

In [48]:
sam=pd.DataFrame({
    'fir':['a','b','c','d','e'],
    'sec':['f','g','h','i','j'],
    'thi':[1,2,3,4,5],
    'for':['k','l','m','n','o']
})
sam

  fir sec  thi for
0   a   f    1   k
1   b   g    2   l
2   c   h    3   m
3   d   i    4   n
4   e   j    5   o

In [49]:
sam.loc[2:4]#index

  fir sec  thi for
2   c   h    3   m
3   d   i    4   n
4   e   j    5   o

In [50]:
sam.iloc[2:4]#positional

  fir sec  thi for
2   c   h    3   m
3   d   i    4   n